<h1>OEE TECT</h1>
<section class="insert">
    <h3>Insert Data</h3>
    <form action="/insert" method="post">

        <div class="input">
            <label for="event">Event</label>
            <input type="text" id="event" name="event">
        </div>
        <div class="input">
            <label for="startdate">Start Date</label>
            <input type="text" id="startdate" name="startdate">
        </div>
        <div class="input">
            <label for="starttime">Start Time</label>
            <input type="text" id="starttime" name="starttime">
        </div>
        <div class="input">
            <label for="enddate">End Date</label>
            <input type="text" id="enddate" name="enddate">
        </div>

        <div class="input">
            <label for="endtime">End Time</label>
            <input type="text" id="endtime" name="endtime">
        </div>

        <div class="input">
            <label for="duration">Duration</label>
            <input type="text" id="duration" name="duration">
        </div>

        <div class="input">
            <label for="description">Description</label>
            <input type="text" id="description" name="description">
        </div>

        <div class="input">
            <label for="author">Author</label>
            <input type="text" id="author" name="author">
        </div>

        <div class="input">
            <label for="dateentered">Date Entered</label>
            <input type="text" id="dateentered" name="dateentered">
        </div>
        <button type="submit">INSERT</button>
    </form>
</section>
<section class="get">
    <h3>Get Data</h3>
    <a href="/get-data">LOAD DATA</a>
    <div>
        {{# each items }}
            <article class="item">
                <div>ID: {{ this._id }}</div>
                <div>Event: {{ this.event }}</div>
                <div>Start Date: {{ this.startdate }}</div>
                <div>Start Time: {{ this.starttime }}</div>
                <div>End Date: {{ this.enddate }}</div>
                <div>End Time: {{ this.endtime }}</div>
                <div>Duration: {{ this.duration }}</div>
                <div>Description: {{ this.description }}</div>
                <div>Author: {{ this.author }}</div>
                <div>Date Entered: {{ this.dateentered }}</div>

            </article>
        {{/each}}
    </div>
</section>
<section class="update">
    <h3>Update Data</h3>
    <form action="/update" method="post">

        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <div class="input">
            <label for="event">Event</label>
            <input type="text" id="event" name="event">
        </div>
        <div class="input">
            <label for="startdate">Start Date</label>
            <input type="text" id="startdate" name="startdate">
        </div>
        <div class="input">
            <label for="starttime">Start Time</label>
            <input type="text" id="starttime" name="starttime">
        </div>
        <div class="input">
            <label for="enddate">End Date</label>
            <input type="text" id="enddate" name="enddate">
        </div>
        <div class="input">
            <label for="endtime">End Time</label>
            <input type="text" id="endtime" name="endtime">
        </div>

        <div class="input">
            <label for="duration">Duration</label>
            <input type="text" id="duration" name="duration">
        </div>

        <div class="input">
            <label for="description">Description</label>
            <input type="text" id="description" name="description">
        </div>

        <div class="input">
            <label for="author">Author</label>
            <input type="text" id="author" name="author">
        </div>

        <div class="input">
            <label for="dateentered">Date Entered</label>
            <input type="text" id="dateentered" name="dateentered">
        </div>

        <button type="submit">UPDATE</button>
    </form>
</section>
</section>
<section class="delete">
    <h3>Delete Data</h3>
    <form action="/delete" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <button type="submit">DELETE</button>
    </form>
</section>
